@(message: String)

@main("play-markdown") {
    <div class="container">
        <h3>Markdown</h3>
        <div class="row">
            <div class="col-md-6">
                <textarea id="editor" class="form-control"></textarea>
            </div>
            <div class="col-md-6">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#preview" data-toggle="tab">Preview</a>
                    </li>
                    <li>
                        <a href="#html" data-toggle="tab">HTML</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="preview" class="tab-pane active"></div>
                    <div id="html" class="tab-pane"></div>
                </div>
            </div>
        </div>
    </div>
}
